[submodule "crossplane/infrastructure"]
	path = crossplane/infrastructure
	url = https://github.com/briandenicola/crossplane-azure-demo
[submodule "kubevela/infrastructure"]
	path = kubevela/infrastructure
	url = https://github.com/briandenicola/crossplane-azure-demo
